/node_modules
/build
/client/dist
/solidity/build


# TSC
/artifacts/json
/artifacts/ts
/dist
/transpiled
/types/generated/*

package-lock.json

# .vscode

# solcover
.coverage_artifacts/
.coverage_contracts/
/coverage/*
coverage/*
*coverage*